body {
  color: DarkSlateGray;
  font-family: Helvetica, sans-serif;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 30vh;
}

#logoutunsuccesful {
    color:red;
    font-size:1.4em;
}

#logoutsuccesful {
    color:green;
    font-size:1.4em;
}
    