<label>Your course:</label><br>
<% any = false %>
<% Course.all.each_with_index do |course, index| %>
	<%if index+1==@user.deg_id%>
		 <% any = true %>
		 <%=course.deg_name_functional%>
	<% end %>
<% end %>
<%= "Not given" unless any%>
<br><br>