<label>Degree year:</label><br>
<% keys = [" ","foundation_year","1","2","3","year_in_industry","masters","phd"] %>
<% values = [" ","Foundation Year","1","2","3","Year In Industry","Masters Year","PhD"] %>
<% selected = Array.new(keys.length) {false}%>
<% if !@user.deg_year.nil?%>
<% keys.each_with_index do |key, i| %>
      <% selected[i]=true if key==@user.deg_year %>
<% end %>
<% end %>
<%any = false%>
<% for i in 0...keys.length do %>
	<%if selected[i]%>
		<%any = true%>
		<%=values[i]%>
	<%end%>
<% end %>
<%= "Not given" unless any%>
<br><br> 