<html>
    <html>
    <head>
        <title>Register</title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Login</h1>

        
        <form method="post" action="/register">
            
            <label>Username:</label>
            <input type="email" name="email" value=""/>
            <br>
            
            <label>Password:</label>
            <input type="password" name="password" value=""/>
            <br>
            
<!--             do some comparison and validation if the typed password meets the minimum requerements -->
            <input type="submit" value="Login" id="loginbutton" name="submit_register"/>
        </form>
        <a href="">Forgot your credentials?</a>
        <p></p>
        <a href="/login">Don't have an account? Register here.</a>
        
    </body>
</html>
</html>