<html>
    <head>
        <title>Mentors</title>
    </head>
    <body>
        <h1>Mentors</h1>
        <h2>Below is a list of mentors that are currently available:</h2>
        <ul>
            <% @mentors.each do |mentor| %>
            <li>Mentor: <%= mentor.first_name %> <%= mentor.surname %></li>
            <% end %>
        </ul>
    </body>
</html>