<html lang="en">
   <head>
      <title>Change Details</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
      <script src="changeaccountdetails.js"></script> 
   </head>
    
   <body>
      <h1>Change Account Details</h1>
      <p id="changetext">What would you like to change?:</p>
       
      <!--defines form that posts to changeaccountdetails.rb controller -->
      <!-- If you are logged in then you would be accessing this page from the profilecreate view so it would not ask you for your recovery code since you have proved that you are that user -->
      <div id="change_details_container">
         <% if session[:loggedin] %>
            <!--Here we are comming from the profile page--->
            <!--LOGGED IN-->
            <form method="post" action="changeaccountdetails">
               <a onclick="desiredEmail()" id="change_email" class="button">My email</a>
               <!--form no 1-->
               <div id="displayemailbox" hidden>
                   
                  <p>You have chosen to change your Email.</p> 
                   
                  <label>New Email:</label><br>
                  <input type="email" name="email" placeholder="Enter your desired email here..."/><br><br>

                  <label>Confirm with your password:</label><br>
                  <input type="password" name="password" placeholder="Enter your current password here..."/><br><br>

                  <!--hidden input type to pass to the controller information, which form is passed 1/2/3/4-->
                  <input hidden name="number" value="1"/>              
               </div>

               <a onclick="desiredPassword()" id="change_password" class="button">My password</a>
           
            </form>  
                
            <!--form no 2-->
            <form method="post" action="changeaccountdetails"> 
                <div id="displaypasswordbox" hidden>

                   <p>You have chosen to change your Password.</p> 

                   <label>Your current password:</label><br>
                   <input type="password" name="password" placeholder="Enter your current password here..."/><br><br>

                   <label>New password:</label><br> 
                   <input type="password" name="new_password" placeholder="Enter your desired password here..."/><br><br>

                   <label>Repeat your new password:</label><br>
                   <input type="password" name="repeat_password" placeholder="Repeat your desired password here..."/><br><br>

                   <!--hidden input type to pass to the controller information, which form is passed 1/2/3/4-->
                   <input hidden name="number" value="2"/> 
                </div>

                <div id="displaychangesbutton" hidden>
                   <input type="submit" value="Request Changes" class="button" name="submit_changes"/><br><br>
                </div> 

            </form>

         <!-- If you are not logged in then you would be accessing this page from the login view so it would ask you for your recovery code since you have not proved that you are that user -->
         <% else %>
            <!--Here we are comming from the login page--->
            <!--NOT LOGGED IN-->
            <form method="post" action="changeaccountdetails">

               <a onclick="desiredEmail()" id="change_email" class="button">My email</a>
               <!--form no 3-->
               <div id="displayemailbox" hidden>

                  <p>You have chosen to change your Email.</p>

                  <label>New Email:</label><br>
                  <input type="email" name="email" placeholder="Enter your desired email here..."/><br><br>

                  <label>Recovery Code:</label><br>
                  <input type="text" name="recovery_code" placeholder="Enter your recovery code here..."/><br><br>

                  <!--hidden input type to pass to the controller information, which form is passed 1/2/3/4-->
                  <input hidden name="number" value="3"/>

               </div>
               <a onclick="desiredPassword()" id="change_password" class="button">My password</a>  
            
            </form>            
               
            <!--form no 4-->
            <form method="post" action="changeaccountdetails">
                <div id="displaypasswordbox" hidden>

                   <p>You have chosen to change your Password.</p>

                   <label>New Password:</label><br>
                   <input type="password" name="password" placeholder="Enter your desired password here..."/><br><br>

                   <label>Repeat New Password:</label><br>
                   <input type="password" name="repeat_password" placeholder="Repeat your desired password here..."/><br><br>

                   <label>Recovery Code:</label><br>
                   <input type="text" name="recovery_code" placeholder="Enter your recovery code here..."/><br><br>

                   <!--hidden input type to pass to the controller information, which form is passed 1/2/3/4-->
                   <input hidden name="number" value="4"/>

                </div>
            </form>

            <div id="displaychangesbutton" hidden>
               <input type="submit" value="Request Changes" class="button" name="submit_changes"/><br><br>
            </div>
         <% end %>
         <a href="javascript:history.back()" class="button" id="go_back">Go Back</a>
      </div>
   </body>
</html>