<html>
    <head>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <p id="logoutunsuccessful">Logout unsuccesful</p>
        <p>There was an error when trying to log out. You will be taken back to the homepage now.</p>
    </body>
</html>