<html lang="en">
   <head>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <div id ="logout">
         <p id="logoutsuccessful">Logout was successful</p>
         <p>You may close this window or go to the log in page.</p>
         <a href="login" id="go_back_to_login" class="button">Log in</a>
      </div>
   </body>
</html>

