<html>
    <head>
    
    </head>
    <body>
        <p>Logout unsuccesful</p>
        <p>There was an error when trying to log out. You will be taken back to the homepage now.</p>
    </body>
</html>