<html>
    <head>
        <title>Multi Choice Survey</title>
        
    </head>
    <body>
        <h1>Multi Choice Survey:</h1>
            
        <form method="post" action="process-multichoicesurvey">
            <% if @role.eql?("mentee") %> <!-- need to get is mentee or mentor out of cookies -->
                
                <label>First Name:</label>
                <input type="text" name="first_name" value=""/><br>
                
                <label>Surname:</label>
                <input type="text" name="surname" value=""/><br>
            
                <label>Year of Birth:</label>
                <select name="year_of_birth">
                    <% (1900..2021).each do |i| %>
                        <% @str="<option value=\"#{i}\">#{i}</option>" %>
                        <%= @str %>
                    <% end %>
                </select><br>
            
                <label>Contact number:</label>
                <input type="tel" name="contact_number" value=""/><br>
            
                <label>Course Name:</label>
                <input type="text" name="course" value=""/><br> <!-- need to be dropdown will do properly later -->
                
                <label>Which course is this most similar to?</label>
                <select name="deg_title">
                    <% @courses.each do |course| %>
                        <option value="<%course.id%>"><%course.deg_name_functional%></option>
                    <% end %>
                </select>
            
                <label>Degree year:</label>
                <select name="degree_year">
                    <option value="foundation_year">Foundation Year</option>
                    <% (1..3).each do |i| %>
                        <% @str="<option value=\"#{i}\">#{i}</option>" %>
                        <%= @str %>
                    <% end %>
                    <option value="year_in_industry">Year In Industry</option>
                    <option value="masters">Masters Year</option>
                    <option value="phd">PhD</option>
                </select><br>
            
                <label>Interests:</label>
                <input type="text" name="interests" value=""/><br>
                
                <label>Other Notes:</label> <!-- Other Notes is equivalent to Profile Text in database -->
                <input type="text" name="other_notes" value=""/><br>
                
                
                <input type="submit" value="Submit:" name="submitmentee"/>
            
            <% else if @role.eql?("mentor") %>
            
                <label>First Name:</label>
                <input type="text" name="first_name" value=""/><br>
                
                <label>Surname:</label>
                <input type="text" name="surname" value=""/><br>
            
                <label>Year of Birth:</label>
                <select name="year_of_birth">
                    <% (1900..2021).each do |i| %>
                        <% @str="<option value=\"#{i}\">#{i}</option>" %>
                        <%= @str %>
                    <% end %>
                </select><br>
            
                <label>Contact number:</label>
                <input type="tel" name="contact_number" value=""/><br>
            
                <label>Job Title:</label>
                <input type="text" name="job_title" value=""/><br>
                
                <label>Job information:</label>
                <input type="text" name="form_field_mentor3" value=""/><br>
            
<!--                 <label>Industry area:</label>
                <input type="text" name="form_field_mentor2" value=""/><br> -->
                <% interestsArray = ["Exercise & Outdoors",
                                    "Video or Board Games",
                                    "Art or Graphic Design",
                                    "Cooking",
                                    "Technology",
                                    "Music",
                                    "Engineering",
                                    "Reading or Writing",
                                    "Travel",
                                    "Pets or Animals"] %>
                <% (0..9).each do |i| %>
                    <label>Do you like <% interestsArray[i] %>?</label>
                    <select name="interest<% i %>">
                        <option value="">-</option>
                        <option value="y">Yes</option>
                        <option value="n">No</option>
                    </select>
                <% end %>
                
               <label>Which of these is your favourite interest?</label>
                    <select name="majorinterest">
                        <% (0..9).each do |i| %>
                        <option value="<% i %>"><% interestsArray[i] %></option>
                        <% end %>
                    </select>
                    
                    <input type="submit" value="Submit:" name="submitmentor" />
            <% end %>
           <% end %>
                
        </form>
    </body>
</html>