<html lang="en">
    <head>
        <title>Error 404</title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <p>Error 404: Page not found</p>
        <a href="javascript:history.back()" class="button"> Go Back </a>
    </body>
</html>