<html>
    <head>
        <title><%= @user.first_name %> <%= @user.surname></title>
        <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
    </body>
</html>