<html>
   <head>
      <title>Registration Successful</title>
      <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <h1>Registration Successful</h1>
      <a href="/index" id="go_to_home_page">Click here to proceed to the home page.</a>
   </body>
</html>

