<html>
    <head>
        <title>Registration Failed</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Registration Unsuccessful</h1>
        <a href="/register" id="go_to_register">Click here to try again.</a>
    </body>
</html>