<html>
    <head>
        <title>Sign in</title>
    </head>
    <body>
        <h1>Sign In</h1>
        <p>Login with your credentials below:</p>
        
        <form method="post" action="process-sign-in">
            
            <label>Email:</label>
            <input type="email" name="email" value=""/>
            <br>
            
            <label>Password:</label>
            <input type="password" name="password" value=""/>
            <br><br>
            
            <input type="submit" value="Sign in" name="submit_login"/>
        </form>
    </body>
</html>