body {
  color: DarkSlateGray;
  background-color:rgb(225, 226, 234);
  font-family: "Garamond", serif;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 30vh;
  font-size:30px;
  padding: 5px;
}

nav {
  text-align:center;
}

nav ul li {
    display:inline-block;
    margin: 25px;
    border: solid black;
    padding: 8px;
    font-size: 35px;
    font-family: Calibri, serif;
    border-radius: 20px;
    background: lightbrown;

}

nav a:link {
     text-decoration:none;
    color: olive;
    font-weight:bold;
    
}

nav a:visited {
    color: olive;
}
nav a:hover {
    color: seagreen;
}

/* button on sign in and register page */
.button {
    display: inline-block;
    background-color: rgb(128, 170, 255);
    border-radius: 10px;
    border: 4px solid black;
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: Arial;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    text-decoration: none;
}

/* Bold the Labels */
label {
    font-weight:bold;
}

/*Style the table in browsementors page */
th {
    text-align: left;
    background: #bcbcbc;
}

td {
    background: #efefef;
}

th, td {
    padding: 5px;
}

/* appropriate coloring for successful / unsuccessful messages */

#logoutsuccessful, #logoutunsuccessful {
    color:green;
    font-family: "Verdana", sans-serif;
    font-size:60px;
}

#logoutunsuccessful {
    color: red;
}

#logout {
  padding:40px;
}

/* Draw a border for the contents of the page */
#changedetailsbody, #profilecreatebody {
    border: 10px solid black;
    margin: 0px 55px 0px 55px;
    padding-left: 20px;
}

/* Draw a border for the contents of the profile of mentor */
#profileinfo {
    border: 3px ridge black;
    position: absolute;
    top: 200px;
    padding: 10px;
}

#contactdetail{
    border: 3px ridge black;
    position: absolute;
    top: 440px;
    font-size: 25px;
    padding: 20px;
}

/*Display of the Change Details page */
#flexcontainer, #displayflex{
    display: flex;
}

#flexcontainer div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#displayflex div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

#boxes {
    border: 2px solid;
    margin: 50px;
    width: 350px;
    height: 500px;
    text-align:center;
}

#container {
    display: flex;
    justify-content:center;
}



