<nav> <!-- Admins and AdminMentors share the same navigation as an admin already has the same nav elements as a mentor on top of having a User List page too --> 
    <ul>
        <li>
            <a href="index">Home</a>
        </li>
        <li>
            <a href="profilecreate">Profile</a>              
        </li>
        <li>
            <a href="userlist">User List</a>
        </li>
        <li>
            <a href="logout">Logout</a>
        </li>
    </ul>
</nav>