<nav> <!-- If you are a mentor, mentor list will not be displayed -->
    <ul>
        <li>
            <a href="index">Home</a>
        </li>
        <li>
            <a href="profilecreate">Profile</a>
        </li>
        <li>
            <a href="logout">Logout</a>
        </li>
    </ul>
</nav>