<nav>
    <ul>
        <li>
            <a href="index">Home</a>
        </li>
        <li>
            <a href="profilecreate">Profile</a>              
        </li>
        <li>
            <a href="mentorlist">Mentor List</a>
        </li>
        <li>
            <a href="logout">Logout</a>
        </li>
    </ul>
</nav>