<td>
    <form method="post" action="setpairstatus">
        <input hidden name="status" value="1" />
        <input hidden name="old_status" value="<%=@pair.status%>" />
        <input hidden name="path" value="/index" />
        <input hidden name="pair_id" value="<%=@pair.pair_id.nil? ? "" :  (h @pair.pair_id) %>">
        <input id="requestbutton" type="submit" onclick="return acceptMeetingRequest()" value="Accept Meeting Request" name="accept_meeting_request"/>
    </form>
</td>